@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}


header{
    color: black;
    font-weight: bold;
    background: url('/assets/img/Cover1.svg');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 100%;
}


